**PYTHON ASSIGNMENT**

### Theoretical Questions

In [ ]:
import json

value = json.load("filepath.json")

In [ ]:
json.dumps(dict_)

In [ ]:
dict_ = {"a":["1",1]}

In [ ]:
type(json.loads(string_variable))

In [ ]:
a = [1,1,2,5]

In [ ]:
b=[1,2,4,5]

In [ ]:
same_values = []
for val1 in a:
    for val2 in b:
        if val2 in same_values:
            continue
        if val1 == val2:
            same_values.append(val2)

In [ ]:
10 == 10

In [ ]:
var same_values = [];
for (var i=0; i < a.length ; i++) {
    var val1 = a[i];
    for (var j=0; j < b.length ; j++) {
        var val2 = b[j];
        if (val2 in same_values){
            continue;
        }
        if (val1 == val2){
            same_values.push(val2)
        }
        
    }
    
}

In [ ]:
same_values

In [ ]:
list(set(a).intersection(b))

In [ ]:
same_values

In [ ]:
with a as open("filepath.json"):
    value = a.read()

In [ ]:
int_val = -1
if int_val:
    print("a")
else:
    print('0 value')
    
string_val = "0"
if string_val:
    print("a")
else:
    print('empty string')
    
list_val = [""]
if list_val:
    print("a")
else:
    print("empty list")
    
dict_ = {"a":None}
if dict_:
    print("a")
else:
    print("dict list")

In [ ]:
class User():
    def __init__(self, username,password):
        self.username = username
        self.password =password

In [ ]:
user = User("hahmed",1234)

In [ ]:
user.password

In [ ]:
# assume we are logging into a website, and let the variable be user 
user.username
user.password
if user.username == True:
        if a:
            print("a")
        else:
            print("random")
    if user.password == True:
        a = 0
        if a:
            print("a")
        else:
            print("random")
        return True
    else:
        raise Exception("incorrect pasword")
else:
    raise Exception("incorrect username")

In [ ]:
# guard coding style

if user.username != True:
    raise Exception("incorrect username")
if user.password != True:
    raise Exception("incorrect pasword")

return True

In [ ]:
if a is None:
    print("A")
elif not a:
    print(a)
else:
    print("None")

In [ ]:
if len(list_)==0:

1. **What type of language is Python? Which language is Python built on?**


2. **Is a docx file read in the same way as a txt file? Which ones are json files similar to?**


3. **What is the difference between a list and a set?**


4. **Which of the following if statements is a correct representation chained if statements? Multiple answers are allowed.**

```
var = True
# OPTION A
if var == True:
 print("var is True")
else:
  print("var is False")
  
# OPTION B
if var:
 print("var is True")
 
# OPTION C
if var:
 print("var is True")
else:
  print("var is False")
  
# OPTION D
if var==True:
 print("var is True")
if var==False:
  print("var is False")
  
# OPTION E
if var==True:
 print("var is True")
elif var==False:
  print("var is False")
else:
  print("var is another value")
```

5. **What is an f string?**


6. **What are the benefits of writing a function? List at least 2.**


7. **What are some native words of Python? How can we identify them?**


8. **What do we refer to a position of a list? Which value does the first position start with?**

### Fill in the Blanks

#### Question 1

Fill in the blanks
Question 1
Create 2 of each kind of the following variables:
float
string
bool
list
dictionary
dataframe
Aim is to create a new variable of each kind, added up. Indicate which of the variables is not possible to add up
```
# example using integer
int_1 = 5 
int_2 = 5
new_int = int_1 + int_2

```

In [14]:
for item in [0,[], "", {}, False, None]:
    if not item:
        print(f"value is {item}")

value is 0
value is []
value is
value is {}
value is False
value is None

In [16]:
list_1 = ["a"];
list_2 = ["b"];
list_1.concat(list_2);

In [ ]:
Object.assign({}, dict_1, dict_2);

In [20]:
# complete for dictionary
dict_1 = {"a":[1,2]};
dict_2 = {"b":[[1,2134]]};
dict_1.merge(dict_2);

In [24]:
# Block of code to help with initial
# complete for string
str_1 = "a";
str_2 = "b";
new_str = str_1 + str_2;

# complete for float
float_1 = 1.5;
float_2 = 22.4;
new_float = float_1 + float_2;

# complete for bool
bool_1 = False;
bool_2 = False;
new_bool = bool_1 + bool_2;

# complete for list
list_1 = ["a"]
list_2 = ["b"]
list_1 += list_2


# complete for dictionary
dict_1 = {"a":[1,2]}
dict_2 = {"b":[[1,2134]]}

import pandas as pd
# complete for dataframe, idea is to have a single column where one df is added above the other one
df_1 = pd.DataFrame({'a':[1,2,34523]})
df_2 = pd.DataFrame({'a':[1,35,325,5235]})

In [ ]:
df_1 = pd.read_csv("path_to_csv")

In [ ]:
glossary_df = pd.read_("")

In [42]:
pd.set_option('display.max_columns',100000000)

In [43]:
df_1

       a
0      1
1      2
2  34523

In [32]:
df_1 = pd.merge(df_1,glossary_df, how='left')

       a
0      1
1      2
2  34523

In [ ]:
df_1.to_csv("path_to where you want the clean csv")

#### Question 2

##### List Manipulation
Have the following list cleaned up where there is only one for for each different value.

In [44]:
list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]

In [46]:
list(set(list_))

[1, 2, 3, 4, 5, 6, 7]

##### Function creation
Following what you did in 2.2.1, create a function where you provide a list and returned back a clean list.

In [47]:
list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]

def clean_list(list_):
    list(set(list_))
    return list(set(list_))
    #
    #
    #
    #
    #

In [48]:
new_list = clean_list(list_)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

#### Question 3

Create a function that takes two arguments, name and age, and print their value. 

e.g. of output

``` 
print_name_age("Jacques", 22)
output: "My name is Jacques and I am 22 years old.
```

In [52]:
def print_name_age(name: str, age: int) -> str:
    string = f"My name is {name.title()} and I am {age} years old."
    print(string)
    #
    #
    #
    #

In [54]:
name = "humza"
age = 0
print_name_age(name, age)

My name is Humza and I am 0 years old.

#### Question 4


Assume we are trying to access an index of a list that does not exist. 

```
list_ = [1,2,3]
list_[10]
output: indexerror
```


What is a way to help manage the error when a value is selected when we do not mean it? Edit the block of code accordingly.

In [59]:
list_ = [1,2,3]
try:
    list_[10]
except IndexError as exc:
    print(f"The length of list is {len(list_)}")

The length of list is 3

### Leet Code Questions

Aim is to have 3 out of 8 completed from the list.

1. https://leetcode.com/problems/running-sum-of-1d-array/


2. https://leetcode.com/problems/defanging-an-ip-address/

3. https://leetcode.com/problems/smallest-even-multiple/

4. https://leetcode.com/problems/richest-customer-wealth/


5. https://leetcode.com/problems/maximum-number-of-words-found-in-sentences/


6. https://leetcode.com/problems/jewels-and-stones/


7. https://leetcode.com/problems/to-lower-case/


8. https://leetcode.com/problems/sort-the-people/