What is data?

What are the different type of form a data type can take?

- int
- float
- bool
- string

- pandas dataframes -> represent tables
- int columns
- string columns
- bool columns
- float columns
- mix of different variable columns


How is data saved? In what type of format can it come in?
- json file -> can be imported as a dictionary, as a string, (as a table)
- excel sheet -> pandas read_excel and read it as a dictionary
- xml file -> can be imported as a dictionary, as a string, (as a table)
- text or .doc file -> string
- pdf
- pictures

data manipulation

what are the different things one can do to manipulate a certain type of data?

when it comes to integers or floats you will use logical operators
+, - , %, *, mod, remainder, < , >, <=, >=

strings:
adding the values
seeing if a word is within the whole string -> is 'test' in 'The word is test'
slice the string -> get the first 3 positions of the string -> string_var[:3]
use regex
use upper, lower, title, strip


list:
- can add, remove, select content from list
- can loop through list for command reasons

1. string -> return the first 2 and last 2 characters of the string

"dinosaur" -> "diur"

In [64]:
def character_slicer(string_):
    if len(string_.strip())<2:
        return "Empty String"
    first_two = string_[:2]
    last_two = string_[-2:]
    return first_two+last_two

In [58]:
string_ = "r"

In [60]:
string_[-2:]

'r'

In [66]:
character_slicer("     r ")

'Empty String'

In [48]:
count = 0
for n in [1,2,3,4]:
    if n > count:
        count = n
    if n ==1:
        print(n)
    if n==2:
        print(n**2)
        
    if n==3:
        print(n**3)
    if n==4:
        print(n**4)

1
4
27
256

In [49]:
count

4

In [44]:
"Joe" + " " +"Jackson"

'Joe Jackson'

In [42]:
df['fullName'] = df['firstName'] + " " +df['lastName']

In [45]:
def function_name(col_1, col_2):
    return col_1 + " " + col_2

df['fullName'] = df.apply(lambda row: function_name(row['firstName'],
                                                   row['lastName']),
                         axis=1)

In [46]:
df

,firstName,lastName,gender,age,address,phoneNumbers,fullName
0,Joe,Jackson,male,28,"{'streetAddress': '101', 'city': 'San Diego', ...","{'type': 'home', 'number': '7349282382'}",Joe Jackson
1,David,Test,male,30,North,Test,David Test

In [38]:
if " Test ".strip().lower() ==" test".strip().lower():
    print("true")

true